{% set wordpress = salt['grains.filter_by']({
    'Debian': {
        'user': 'cloud_user',
        'group': 'cloud_user',
        'docroot': '/var/www/html',
    },
    'RedHat': {
        'user': 'apache',
        'group': 'apache',
        'docroot': '/var/www/html',
    },
})%}
